<footer>
  
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">             
            <h2>Feedback</h2>
            Do you want to contribute? have an idea or a suggestion for a topic? found something outdated or not working? whatever it is, please write to us. We need your feedback. Post your comments on social using the buttons below, in the disqus forum, or send us an <a href="mailto:devopsdemos@microsoft.com">email</a>. Your feedback is so important to us!!!
          <br />
          <hr color="#80cae5" size="3" width="100%">	                
               &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />	   <br />	   <br />	  
              
      </div>
    </div>      
  </div>
</footer>