
<div>
<!--table width="250">
    <tr bgcolor="#3d0268" ><td bgcolor="#3d0268"><span class="rellinkstitle"><b>Related Links</<b></span></td></tr>
    <tr><td><span  class="rellinkscontent"> <b>DevOps Self Assessment:</b><br> Are you ready for DevOps? Completing this assessment will provide you with a framework to better understand your current DevOps practices and where to focus next.</td></tr>
    <tr><td><span  class="rellinkscontent"> Brian Harry's Blog</span></td></tr>
   <tr><td><span  class="rellinkscontent"> Java ALM VM</span></td></tr>
</table-->

<br />
<!-- start feedwind code --><script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="10758/"></script> <!-- end feedwind code -->
<br/>

<table >
    <tr bgcolor="#3d0268" ><td colspan="2" bgcolor="#3d0268" ><span class="rellinkstitle"><b>Contributors</<b></span></td></tr>
    <tr><td width="20%"><img src="images/ed.jpg" /> </td><td><span  class="rellinkscontent">Ed Kaim</span></td></tr>
    <tr><td width="20%"><img src="images/srivatsa.jpeg" /></td><td><span  class="rellinkscontent">Srivatsa Marichi</span></td></tr>
</table>


</div>
