<!DOCTYPE html>

<head>
    {% include head.html %}
    <script>
    </script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Merriweather|Pangolin|Roboto|Source+Sans+Pro|Trocchi" rel="stylesheet">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-93010880-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    {% include topnav.html %}
    <!-- Page Content 
    <img src="images/banner31.jpg" width="100%" style="margin-top: 73px;" />-->
    
        <div class="rowMain">
            <div class="columnMain">
            <div class="pageheader"> Microsoft Visual Studio DevOps Hands-On-Labs </div>
             <div class="pagedesc">
             <i>Hands-on-labs for Visual Studio Team Foundation Server and Visual Studio Team Services</i>
             </div>      
        </div>
            <!--img src="images/almvm-hero-centered-transparent-md.png"-->
        </div>

    <div class="container">
        {{content}}
        <div class="column">
            <div class="col-lg-12">

            </div>
            <div class="container">
                {% include footer.html %}
                <div>
                    <div class="container">

                    </div>
                    {% include gototop.html %}
</body>





</html>