---
layout: default
---

<div class="post-header " style="margin-left: 40px;" >
   <p><span class="PageTitle">{{ page.title }}</span><br />
   <script>function fbs_click() {u="http://aka.ms/devopslabs";t={{page.title | url_encode}};window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script><a href="http://www.facebook.com/sharer.php?u={{site.url }}{{site.baseurl }}{{page.url }}&t={{page.title | url_encode}}" onclick="return fbs_click()" target="_blank"><button class="btn btn-sm" style="background-color:#3b5998; color:white;"><span class="fa fa-facebook mr-2"></span></button></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://aka.ms/devopslabs&title={{page.title | url_encode}}" onclick="return lnk_click()" target="_blank"><button class="btn btn-sm" style="background-color:#0077B5; color:white;"><span class="fa fa-linkedin"></span></button>
    <a href="https://twitter.com/intent/tweet?url=http://aka.ms/devopslabs&text={{page.title | url_encode}}&via=visualstudio&hashtags=devopslabs" data-size="large" target="_blank"><button class="btn btn-sm" style="background-color:#00aced; color:white;"><span class="fa fa-twitter"></span></button></a>
    </p>
</div>

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content" style="margin-left: 39px;">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}



    {% if site.github_editme_path %}

    <!--<a target="_blank" href="https://github.com/{{site.github_editme_path}}{% unless page.url contains "index.html" %}{% endunless %}"> <class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me on GitHub</a>-->

    {% endif %}

  {{content}}

    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>



{% include footer.html %}
